*.log
*.swp
*.mo
*.edit.po
*.rej
.DS_Store
.bundle
.chef
.directory
/.envrc
eslint-report.html
/.gitlab_shell_secret
.idea
/.vscode/*
/.rbenv-version
.rbx/
/.ruby-gemset
/.ruby-version
/.rvmrc
.sass-cache/
/.secret
/.vagrant
/.yarn-cache
/.byebug_history
/Vagrantfile
/coverage/*
/coverage-javascript/
/jsconfig.json
/log/*.log*
/node_modules/
/nohup.out
/public/assets/
/public/uploads.*
/public/uploads/
/shared/artifacts/
/tags
/tmp/*
/vendor/bundle/*
/builds*
/shared/*
/webpack-report/
/knapsack/
/rspec_flaky/
/locale/**/LC_MESSAGES
/locale/**/*.time_stamp
/.rspec
/plugins/*
/.gitlab_pages_secret
package-lock.json
/junit_*.xml
/coverage-frontend/
jsdoc/

# Ignore master key for decrypting credentials and more.
/config/master.key
